<head>
	<meta charset="utf-8">

	<title>F1 - Participantes</title>
	<meta name="description" content="">
	
		<!-- Estilos -->
		
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/formularios.css">
	<link rel="stylesheet" href="calendar/css/jquery-ui-f1.css" />
	
		<!-- Typographys -->
	
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800,800italic,300,300italic,600italic,700' rel='stylesheet' type='text/css'>
	
</head>

<body>

<nav></nav>

<h3>participantes</h3>

	<div class="content_block">

		<div class="sliderbox">
		
			<div class="fichaParticipante">

				<label  class="block" style=" width:15%"><p>Nombre</p></label>
				<div class="block" style=" width:20%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:16%"><p>Apellidos</p></label>
				<div class="block" style=" width:39%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:15%"><p>Correo</p></label>
				<div class="block" style=" width:76%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:33%"><p>Cuantía del Objetivo</p></label>
				<div class="block" style=" width:55%"><input type="number" name="mail"></div>
				
				<div class="block" style="padding-left:10px; width:5%"><input type="button" value="X" name="mail"></div>
					
			</div>
			
			<div class="fichaParticipante">

				<label  class="block" style=" width:15%"><p>Nombre</p></label>
				<div class="block" style=" width:20%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:16%"><p>Apellidos</p></label>
				<div class="block" style=" width:39%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:15%"><p>Correo</p></label>
				<div class="block" style=" width:76%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:33%"><p>Cuantía del Objetivo</p></label>
				<div class="block" style=" width:55%"><input type="number" name="mail"></div>
				
				<div class="block" style="padding-left:10px; width:5%"><input type="button" value="X" name="mail"></div>
					
			</div>
		
			<div class="fichaParticipante">

				<label  class="block" style=" width:15%"><p>Nombre</p></label>
				<div class="block" style=" width:20%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:16%"><p>Apellidos</p></label>
				<div class="block" style=" width:39%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:15%"><p>Correo</p></label>
				<div class="block" style=" width:76%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:33%"><p>Cuantía del Objetivo</p></label>
				<div class="block" style=" width:55%"><input type="number" name="mail"></div>
				
				<div class="block" style="padding-left:10px; width:5%"><input type="button" value="X" name="mail"></div>
					
			</div>
			
			
		
			<div class="fichaParticipante">

				<label  class="block" style=" width:15%"><p>Nombre</p></label>
				<div class="block" style=" width:20%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:16%"><p>Apellidos</p></label>
				<div class="block" style=" width:39%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:15%"><p>Correo</p></label>
				<div class="block" style=" width:76%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:33%"><p>Cuantía del Objetivo</p></label>
				<div class="block" style=" width:55%"><input type="number" name="mail"></div>
				
				<div class="block" style="padding-left:10px; width:5%"><input type="button" value="X" name="mail"></div>
					
			</div>
			
			
			<div class="fichaParticipante">

				<label  class="block" style=" width:15%"><p>Nombre</p></label>
				<div class="block" style=" width:20%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:16%"><p>Apellidos</p></label>
				<div class="block" style=" width:39%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:15%"><p>Correo</p></label>
				<div class="block" style=" width:76%"><input type="text" name="mail"></div>
				
				<label  class="block" style=" width:33%"><p>Cuantía del Objetivo</p></label>
				<div class="block" style=" width:55%"><input type="number" name="mail"></div>
				
				<div class="block" style="padding-left:10px; width:5%"><input type="button" value="X" name="mail"></div>
					
			</div>
			
		</div>
		
	</div>

	<div style="width:200px; margin:auto;"><input type="submit" onclick="window.location='index.html'" value="Ok" name="mail"></div>

</body>