




<head>
	<meta charset="utf-8">

	<title>F1 - Diseño Campaña paso 1</title>
	<meta name="description" content="">
	
		<!-- Estilos -->
		
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/formularios.css">
	<link rel="stylesheet" href="calendar/css/jquery-ui-f1.css" />
	
		<!-- Typographys -->
	
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800,800italic,300,300italic,600italic,700' rel='stylesheet' type='text/css'>
	

		<!-- Calendar -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="calendar/css/jquery-ui-f1.css">
<script type="text/javascript">
$(function() {
    var startDate;
    var endDate;
    
    var selectCurrentWeek = function() {
        window.setTimeout(function () {
            $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
        }, 1);
    }
    
    $('.week-picker').datepicker( {
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function(dateText, inst) {
            // Numero de dias seleccionados en el calendario
				var numDias = 13;
            
				var date = $(this).datepicker('getDate');
            startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + numDias);
            var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
            $('#startDate').text($.datepicker.formatDate( dateFormat, startDate, inst.settings ));
            $('#endDate').text($.datepicker.formatDate( dateFormat, endDate, inst.settings ));
            
            selectCurrentWeek();
        },
        beforeShowDay: function(date) {
            var cssClass = '';
            if(date >= startDate && date <= endDate)
                cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];
        },
        onChangeMonthYear: function(year, month, inst) {
            selectCurrentWeek();
        }
    });
    
    $('.week-picker .ui-datepicker-calendar tr').live('mousemove', function() { $(this).find('td a').addClass('ui-state-hover'); });
    $('.week-picker .ui-datepicker-calendar tr').live('mouseleave', function() { $(this).find('td a').removeClass('ui-state-hover'); });
});
</script>
</head>

<body>


	
	<nav></nav>
	

	<h3>Diseño de Campaña</h3>
		
	<div class="content_block">
	
		<nav style="background:url(images/paso_1.jpg);">
		
		<a href="paso_1.html" >Paso 1</a>
		<a href="paso_2.html" style="color:#CCCCCC">Paso 2</a>
		<a href="paso_3.html" style="color:#CCCCCC">Paso 3</a>
		<a href="paso_4.html"  style="color:#CCCCCC">Paso 4</a>
		
		</nav>
		
		<div  style="padding: 20px 0 20px 20px"><p>Rellena los datos para iniciar la campaña</p></div>
		
		<ul>
			<label  class="block" style=" width:40%">Nombre de la campaña</label>
			<div class="block" style=" width:58%"><input type="text" name="Name"></div>
		</ul>
		
		<ul>
			<label  class="block" style=" width:40%">Tipo de objetivo</label>
			<div class="block" style=" width:58%"><input type="text" name="mail"></div>
		</ul>
		
		
		<ul>
			<label  class="block" style=" width:40%">Numero de carreras</label >
			<div class="block" style=" width:58%"><input type="number" min="1" value="1" name="Carreras"></div >
		</ul>
		
		<ul>	
			<div class="week-picker"></div>
			<br /><br />
			<label>Week :</label> <span id="startDate"></span> - <span id="endDate"></span>
		</ul>
		
	</div>

	
	<div style="width:200px; margin:auto;"><input type="submit" value="Siguiente" onclick="window.location='paso_2.html'" name="mail"></div>

</body>