




<head>
	<meta charset="utf-8">

	<title>F1 - Diseño Campaña paso 1</title>
	<meta name="description" content="">
	
		<!-- Estilos -->
		
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/formularios.css">
	<link rel="stylesheet" href="calendar/css/jquery-ui-f1.css" />
	
		<!-- Typographys -->
	
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800,800italic,300,300italic,600italic,700' rel='stylesheet' type='text/css'>
	

		<!-- Calendar -->
		
<script src="calendar/js/jquery-1.9.1.js"></script>
<script src="calendar/js/jquery-ui.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>
<script>
	<!-- a mejorar con este script: http://www.tikalk.com/incubator/week-picker-using-jquery-ui-datepicker/ -->
$(function () {



	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$("#datepicker").datepicker({
		beforeShowDay: function(date) {
		var day = date.getDay();

		return [(day != 2 && day != 3 && day != 4 && day != 5 && day != 6 && day != 0 )];
	},
		minDate: "0D",
		firstDay: 1
	});
	});
</script>
	
	

</head>

<body>


	
	<nav></nav>
	

	<h3>Diseño de Campaña</h3>
		
	<div class="content_block">
	
		<nav style="background:url(images/paso_1.jpg);">
		
		<a href="paso_1.html" >Paso 1</a>
		<a href="paso_2.html" style="color:#CCCCCC">Paso 2</a>
		<a href="paso_3.html" style="color:#CCCCCC">Paso 3</a>
		<a href="paso_4.html"  style="color:#CCCCCC">Paso 4</a>
		
		</nav>
		
		<div  style="padding: 20px 0 20px 20px"><p>Rellena los datos para iniciar la campaña</p></div>
		
		<ul>
			<label  class="block" style=" width:40%">Nombre de la campaña</label>
			<div class="block" style=" width:58%"><input type="text" name="Name"></div>
		</ul>
		
		<ul>
			<label  class="block" style=" width:40%">Tipo de objetivo</label>
			<div class="block" style=" width:58%"><input type="text" name="mail"></div>
		</ul>
		

		
		<ul>
			<label  class="block" style=" width:40%">Fecha de inicio</label >
			<div class="block" style=" width:58%"><input type="date" id="datepicker" /></div >
		</ul>
		
		<ul>
			<label  class="block" style=" width:40%">Numero de carreras</label >
			<div class="block" style=" width:58%"><input type="number" name="Carreras"></div >
			</ul>
		

		
	</div>

	
	<div style="width:200px; margin:auto;"><input type="submit" value="Siguiente" onclick="window.location='paso_2.html'" name="mail"></div>

</body>