<head>
	<meta charset="utf-8">

	<title>F1 - Alta Campaña</title>
	<meta name="description" content="">
	
		<!-- Estilos -->
		
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/formularios.css">
	<link rel="stylesheet" href="calendar/css/jquery-ui-f1.css" />
	
		<!-- Typographys -->
	
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800,800italic,300,300italic,600italic,700' rel='stylesheet' type='text/css'>
	


	
	

</head>

<body>


	
	<nav></nav>
	
	<h3>Sponsor</h3>
	

	
	<div class="content_block" style="height:400px;">
			
			<ul style="text-align:center; font-weight:500;">Registro</ul>
				
			<ul>
				<label  class="block" style=" width:20%">Nombre</label>
				<div class="block" style=" width:77%"><input type="text" name="Name"></div>
			</ul>
				
			<ul>
				<label  class="block" style=" width:20%">Apellidos</label>
				<div class="block" style=" width:77%"><input type="email" name="Apellidos"></div>
			</ul>
				
				
			<ul style="text-align:center; font-weight:500;">Empresa</ul>
							

			
			<div >
				<ul>
					<label  class="block" style=" width:20%">Nombre</label>
					<div class="block" style=" width:77%"><input type="text" name="Name"></div>
				</ul>
				
				<ul>
					<label  class="block" style=" width:20%">Mail</label>
					<div class="block" style=" width:77%"><input type="email" name="mail"></div>
				</ul>
			
			<div  style="margin:auto;">
				<div  class="block" style=" width:100%; text-align:center; margin:0 0 0 0; padding:0 0 0 0;">
					<p style="font-size:9pt; margin:0 0 0 0; padding:0 0 0 0;">Logo</p>
				</div>
				<div class="block" style="margin-left:40%; width:120px; height:90px; background:#E0C9BA;"></div>
			</div>
			
			</div>
	</div>
	
	
	
	
	<div style="width:200px; margin:auto;"><input type="submit"  onclick="window.location='paso_1.html'" value="Enviar" name="mail"></div>

</body>
