<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="f1App">
    <div class="container" ng-controller="AppController">
      <div class="page-header">
        <h1>Lista de Campa&ntilde;as</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="campaigns &amp;&amp; campaigns.length > 0">
        No existen campa&ntilde;as.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addCampaign(newCampaign)">
        <div class="form-group" ng-repeat="campaign in campaigns">
        
          <div class="checkbox col-xs-9">
            <label>
              <input type="checkbox" ng-model="campaign.checked" ng-change="updateCampaign(campaign)"/> 
            {{campaign.id}} - {{campaign.description}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteCampaign(campaign)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr/>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newCampaign" placeholder="Incluir una descripci&oacute;n..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newCampaign" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/campaign_controller.js"></script>
    <script type="text/javascript" src="./app/campaign_services.js"></script>
  </body>
</html>