    /*FORMULARIO*/

		/*Text Date Number Input*/

textarea,
input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="number"]{
	width: 100%;
	padding: 5px;
	border:solid 1px #777777;
	box-shadow: inset 0.3px 1px 1px 0 #9B9B9B;
	border-radius:20px;
	margin-right: 20px;

	font-family: 'Open Sans', sans-serif;
	font-size:11pt;
	font-weight: 300;
	transition: box-shadow 1s;
}

input[type="date"]:focus,
input[type="text"]:focus,
input[type="number"]:focus 

{
  box-shadow: inset 0px 0.5px 5px 0 #FFFFFF;
}

textarea{
	width: 100%;
	padding: 5px;
	border:solid 1px #777777;
	box-shadow: inset 0.3px 1px 1px 0 #9B9B9B;
	border-radius:10px;
	margin-right: 20px;

	font-family: 'Open Sans', sans-serif;
	font-size:11pt;
	font-weight: 300;
	transition: box-shadow 1s;
}
		/*Button Input*/

input[type="button"] {
  color: #fff;
  background-color: #6496c8;
  height:25px;
  border: none;
  border-radius:5px;
  box-shadow: 0 5px #27496d;
	width: 100%;
		font-family: 'Open Sans', sans-serif;
	font-size:12pt;
}


input[type="button"]:hover {
  background-color: #417cb8;
	width: 100%;
}


input[type="button"]:active {
  background-color: #417cb8;
  box-shadow: 0 1px #27496d;
  transform: translateY(5px);
	width: 100%;
}

.danger{


}
		/*Submit Input*/

input[type="submit"] {
  margin-top:20px;
  color: #fff;
  height:45px;
  background-color: #6496c8;
  border: none;
  border-radius:5px;
  box-shadow: 0 5px #27496d;
  width: 100%;
  	font-family: 'Open Sans', sans-serif;
	font-size:12pt;
}


input[type="submit"]:hover {
  background-color: #417cb8;
	width: 100%;
}


input[type="submit"]:active {
  background-color: #417cb8;
  box-shadow: 0 1px #27496d;
  transform: translateY(5px);
  width: 100%;
}

